body {
  font-family: Arial;
  background: lightblue;
  padding: 20px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card {
  background: rgb(128, 163, 104);
  padding: 15px;
  margin: 15px 0;
  border-radius: 8px;
}

input, select {
  margin: 5px;
  padding: 8px;
}

button {
  padding: 8px 12px;

  margin-top: 8px;
  cursor: pointer;
}
